html{
    font-family: calibri;
    font-size:32px;
}

menu p img{
    padding-left: 24px;
    height: 70px   ;
}
menu p span{
    font-size:2rem;
    position:relative;
    bottom: 18px;
    font-weight: 500;
}
#aca{
    font-size:2rem;
    position:relative;
    top: 0px;
    font-weight: 500;
    color:gray;
}
menu ul{
    padding-right: 48px;
}
menu ul li{
    display: inline;
    font-size: 1.2rem;
    padding:8px;
    font-weight: lighter;
    position: relative;
    top:7px;
}

menu{
    display:flex;
    justify-content: space-between;
    position: relative;
    bottom: 40px;
}

.banner{
    display:flex;
    position:relative;
    bottom:100px;
    background-color: gainsboro;
 
}

.banner img{
    height: 700px;
    width:980px;
    padding: 32px 72px;
   
}
.banner div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.banner div h1{
    font-size: 2rem;
    font-family: calibri;
    font-weight: bold;
    
}
.banner div p{
    font-size:1rem;
    position: relative;
    bottom:30px;
}
.banner div a{
    color:whitesmoke;
    background-color:darkslategrey ;
    padding:2% 20%;
    text-align: center;
    cursor: pointer;
    transition-duration:0.4s;
}
.banner div a:hover{
    background-color: black;
    color: white;
}
