html{
    font-family: calibri;
    font-size:32px;
    color:rgba(0, 0, 0, 0.748);
}

menu p img{
    padding-left: 24px;
    height: 70px   ;
}
menu p span{
    font-size:2rem;
    position:relative;
    bottom: 18px;
    font-weight: 500;
}
#aca{
    font-size:2rem;
    position:relative;
    top: 0px;
    font-weight: 500;
    color:gray;
}
menu ul{
    padding-right: 48px;
}
menu ul li{
    display: inline;
    font-size: 1.2rem;
    padding:8px;
    font-weight: lighter;
    position: relative;
    top:7px;
}

menu{
    display:flex;
    justify-content: space-between;
    position: relative;
    bottom: 40px;
}

.banner{
    display:flex;
    position:relative;
    bottom:100px;
    background-color: gainsboro;
 
}

.banner img{
    height: 700px;
    width:60%;
    padding: 32px 72px;
}
.banner div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.banner div h1{
    font-size: 2rem;
    font-family: calibri;
    font-weight: bold;
    
}
.banner div p{
    font-size:1rem;
    position: relative;
    bottom:30px;
}
.banner div a{
    color:whitesmoke;
    background-color:darkslategrey ;
    padding:2% 20%;
    text-align: center;
    cursor: pointer;
    transition-duration:0.4s;
}
.banner div a:hover{
    background-color: black;
    color: white;
}
.informationMain{
    display: flex;
}


.informationMain .first{
    width:60%;
    padding-right: 72px;
}
.informationMain aside {
    display: flex;
    width: 40%;
    flex-direction: column;

}
.informationMain .first img{
    padding: 0px 72px;
}
.informationMain .first h1,.informationMain .first p{
    padding: 0px 72px;

}

.informationMain aside section{
    display: flex;
    border: solid gainsboro;
    margin-bottom: 115px;
}
.informationMain aside section:hover{
    background-color: gainsboro;
}

.informationMain aside section img{
    height: auto;
    width: 35%;
   
}
.informationMain aside section div h2{
    padding-left: 30px;
    font-size: 0.90rem;
}
.informationMain aside section div p,
.informationMain aside section div a{
    font-size: 0.70rem;
    padding-left: 30px;
  
}
.informationMain aside section div a{
    color:blue;
    cursor: pointer;
    transition-duration:0.4s;
}

.informationMain aside section div a:hover{
    color: white;
}
.startLearning article{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.startLearning section{
    background-color: whitesmoke;
    width: 30%;
    text-wrap: wrap;
    cursor:pointer
   
}
.startLearning section:hover{
    background-color:lightskyblue;
}
.startLearning{
    background-color: gainsboro;
}
.startLearning h1{
    text-align: center; 
}
h3{
    font-size:1rem;
    padding-left:32px;
    
}
.startLearning p{
    font-size: 0.70rem;
    padding-left:32px;
}

.startLearning img{
    width: 100%;
}

